* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1,
h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}


.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.linkBtn {
    padding: 5px 10px;
    background-color: lightblue;
    border-radius: 4px;
}

.linkBtn:hover {
    padding: 5px 10px;
    background-color: rgb(95, 172, 198);
    border-radius: 4px;
}